$grid_style: 1px solid rgba(146, 160, 182, 0.2);

$mood: #50E3C2;
$stress: #D0011B;
$energy: #F6A623;

.mood-color { color: $mood; }
.stress-color { color: $stress; }
.energy-color { color: $energy; }